html
	head
		title Artbuddy authentication

		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" )
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito")
			
		script(src="https://use.fontawesome.com/937272718b.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		
		style(type='text/css')
			include ../public/index.css

	body
		div(class="container")
			div(class="omb_login")
				h2(class="fs-title") Login or 
					a(href='/signup') Sign up
				div(class="row omb_row-sm-offset-3 omb_socialButtons")
					div(class="col-xs-4 col-sm-2")
						a(href="#" class="btn btn-lg btn-block omb_btn-facebook")
							i(class="fa fa-facebook visible-xs")
							span(class="hidden-xs") Facebook 			
					div(class="col-xs-4 col-sm-2")
						a(href="#" class="btn btn-lg btn-block omb_btn-twitter")
							i(class="fa fa-twitter visible-xs")
							span(class="hidden-xs") Twitter
					div(class="col-xs-4 col-sm-2")
						a(href="#" class="btn btn-lg btn-block omb_btn-google")
							i(class="fa fa-google-plus visible-xs")
							span(class="hidden-xs") Google+

				form(class="omb_loginForm" id="msform" method="POST" action='/')
					fieldset
						div(class="row omb_row-sm-offset-3 omb_loginOr")
							hr(class="omb_hrOr")
							span(class='fs-title' id="omb_spanOr") or
						
						div(class="input-group")
							span(class="input-group-addon") 
								i(class="fa fa-user")
							input(type="text" class="form-control" name="username" placeholder="Email address")
						span(class="help-block")
											
						div(class="input-group")
							span(class="input-group-addon")
								i(class="fa fa-lock")
							input(type="password" class="form-control" name="password" placeholder="Password")
						div
							p

						input(type='submit' id='action-button' class="btn btn-lg btn-primary btn-block" value='Login')
	
		div(class='logo')
				img(src='./logo2Mini.jpg')