html
	head
		title Login
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		//- style(type='text/css')
		//- 	include ../public/headers.css

	body
		div
			p Hi there!
		
		div(id="status")

		input(type="submit" onclick="fbLogin()" id="fbLink" value="Connect with Facebook")

		div(id="userData")
		
		script.
			$(document).ready(function(){
				window.fbAsyncInit = () => {
				//SDK loaded, initialize it
					FB.init({
						appId      : '{1849029565388470}',
						cookie     : true,
						xfbml      : true,
						version    : '{v2.11}'
					});
					//check user session and refresh it
					FB.getLoginStatus(function(response) {
						if (response.status === 'connected') {
							getUserData();
						} else {
							//user is not authorized
						}
					});
				};
				//load the JavaScript SDK
				(function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) {return;}
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.com/en_US/sdk.js";
					fjs.parentNode.insertBefore(js, fjs);
				} (document, 'script', 'facebook-jssdk'));

				//do the login
				function fbLogin() {
					FB.login(function (response) {
						if (response.authResponse) {
							// Get and display the user profile data
							getUserData();
						} else {
							document.getElementById('status').innerHTML = 'User cancelled login or did not fully authorize.';
						}
					}, {scope: 'email,public_profile'});
				}

				// Fetch the user profile data from facebook
				function getUserData(){
					FB.api('/me', {locale: 'en_US', fields: 'id,first_name,last_name,email,link,gender,locale,picture'},
					function (response) {
						document.getElementById('fbLink').setAttribute("onclick","fbLogout()");
						document.getElementById('fbLink').innerHTML = 'Logout from Facebook';
						document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.first_name + '!';
						document.getElementById('userData').innerHTML = '<p><b>FB ID:</b> '+response.id+'</p><p><b>Name:</b> '+response.first_name+' '+response.last_name+'</p><p><b>Email:</b> '+response.email+'</p><p><b>Gender:</b> '+response.gender+'</p><p><b>Locale:</b> '+response.locale+'</p><p><b>Picture:</b> <img src="'+response.picture.data.url+'"/></p><p><b>FB Profile:</b> <a target="_blank" href="'+response.link+'">click to view profile</a></p>';
					});
				}

				// Logout from facebook
				function fbLogout() {
					FB.logout(function() {
						document.getElementById('fbLink').setAttribute("onclick","fbLogin()");
						document.getElementById('fbLink').innerHTML = '<img src="fblogin.png"/>';
						document.getElementById('userData').innerHTML = '';
						document.getElementById('status').innerHTML = 'You have successfully logout from Facebook.';
					});
				}
			});

