html
	head
		title Artbuddy personal profile

		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" )
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito")
			
		script(src="https://use.fontawesome.com/937272718b.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		
		//- style(type='text/css')
		//- 	include ../public/profile.css

	body

		h3 Hope you found your art buddy and have planned some cultural fun!
		br
		h2 See you next time!
		br
		a(href='/') Or log in to find a new art buddy