	/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

body {
	font-family: montserrat, arial, verdana;
	height: 100%;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	background: 
		linear-gradient(rgba(235, 218, 69, 1), rgba(227, 228, 232, 1));
}

a {
	color: #FF5337;
}

/*form styles*/
#msform {
	width: 600px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}

.gender {
	margin: 0 auto;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 3px;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}


/*@media (max-width: 40em) {
	.button-wrap {
	margin-top: -1.5em;
	}
}*/

div.gender label.button-label {
	display: inline-block;
	border-radius: 3px;
	font-family: montserrat;
	font-size: 13px;
	text-align: center;
	margin: 0 10px 20px 10px;	
	padding-top: 10px;
	width: 90px;
	color: #2C3E50;
	border-radius: 0.25em;
	background: #efefef;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	-webkit-user-select: none;
	-moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}
.form-group h6 {
	text-align: left;
	width: 200px;
	margin-right: 0;
}
.input {
	text-align: left;
}
.button-label {
	display: inline-block;
	border-radius: 3px;
	font-family: montserrat;
	font-size: 9px;
	margin: 0 6px 6px;
	text-align: center;	
	word-wrap: break-word;
	padding-top: 10px;
	width: 75px;
	color: #2C3E50;
	border-radius: 0.25em;
	background: #efefef;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	-webkit-user-select: none;
	-moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}
.button-label:hover, .button-label:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #FF5337;
}

.button-label:active {
	-webkit-transform: translateY(2px);
			transform: translateY(2px);
}
/*@media (max-width: 40em) {
	.button-label {
	padding: 0em 1em 3px;
	margin: 0.25em;
	}
}*/

#male-button:checked + .button-label {
	background: #FF5337;
	color: white;
}
#male-button:checked + .button-label:hover {
	background: #FF5337;
	color: white;
}

#female-button:checked + .button-label {
	background: #FF5337;
	color: white;
}
#female-button:checked + .button-label:hover {
	background: #FF5337;
	color: white;
}

#transgender-button:checked + .button-label {
	background: #FF5337;
	color: white;
}
#transgender-button:checked + .button-label:hover {
	background: #FF5337;
	color: white;
}
#art-button:checked + .button-label {
	background: #FF5337;
	color: white;
}
#art-button:checked + .button-label:hover {
	background: #FF5337;
	color: white;
}
#dance-button:checked + .button-label {
	background: #FF5337;
	color: white;
}
#dance-button:checked + .button-label:hover {
	background: #FF5337;
	color: white;
}
#theatre-button:checked + .button-label {
	background: #FF5337;
	color: white;
}
#theatre-button:checked + .button-label:hover {
	background: #FF5337;
	color: white;
}
#music-button:checked + .button-label {
	background: #FF5337;
	color: white;
}
#music-button:checked + .button-label:hover {
	background: #FF5337;
	color: white;
}

.hidden {
	display: none;
}

/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,	#progressbar li.active:after{
	background: #27AE60;
	color: white;
}

#filePreview {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
    min-height: 200px;
    min-width: 200px;
    display: none;
}

