/* *********************************
           Variables
  ********************************** */
$navbar-height: 50px;
$big-logo-padding: 15px; // adjust these 2 values
$small-logo-padding: 2px; // of bottom padding to look nice


/* *********************************
   Some Style Overrides on Bootstrap
  ********************************** */
.navbar-inverse {
  background: #EBDA45;
  border-bottom: none;
  background-color: #EBDA45;
  border-color: #EBDA45;
}
.navbar-inverse .navbar-toggle {
  border: 1px solid #EBDA45;
  border-color: #EBDA45;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: transparent;
  @media (max-width: 767px) {
  background: #EBDA45;
  }
}
.navbar-inverse .navbar-nav > li > a {
color: #EBDA45;
  

}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: #EBDA45;

}
ul.nav {
}

/* *********************************
           Toolbar Logo
  ********************************** */
.small-logo-container {
    padding-top: $navbar-height;
    height: $navbar-height;
    overflow: hidden;
    position: absolute;
  }

.small-logo {
  color: white;
  font-size: 2.5em;
  padding-bottom: $small-logo-padding;
};