.container
  div.button-wrap
    input(type="radio" name="accept-offers" id="male-button" class="hidden radio-label" checked)
    label(for="male-button" class="button-label")
      h1 Male
    input(type="radio" name="accept-offers" id="female-button" class="hidden radio-label")
    label(for="female-button" class="button-label")
      h1 Female
    input(type="radio" name="accept-offers" id="maybe-button" class="hidden radio-label")
    label(for="queer-button" class="button-label")
      h1 Queer/other
